@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Reseteo de márgenes y padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/* Barra de navegación */
.navbar {
    background-color: #DD8329;
    color: white;
    padding: 10px;
    position: sticky;
    top: 0;
    width: 100%;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.navbar .logo {
    font-size: 1.5em;
    color: white;
    text-decoration: none;
}

/* Sidebar */
.sidebar {
    width: 200px;
    background-color: #f4f4f4;
    padding: 20px;
    position: fixed;
    top: 60px;
    bottom: 0;
    left: 0;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar li {
    margin: 10px 0;
}

.sidebar a {
    text-decoration: none;
    color: #333;
}

/* Contenido principal */
.main-content {
    margin-left: 220px;
    padding: 20px;
    flex-grow: 1;
}

.main-content h1 {
    margin-bottom: 20px;
}

/* Footer */
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: auto;
    width: 100%;
}

.banner-logo{
    width: 15rem;
}

.noto-font{
    font-family: 'Noto Sans', sans-serif;
}

.poppins-font{
    font-family: 'Poppins', sans-serif;
}

h1{
    font-family: 'Poppins', sans-serif;
}